</div>
<div id="navigation"><p><a href="/pages/about">About</a> • <a href="/pages/open_source">Open Source</a> • <a href="/rss">RSS</a><br />
<a href="http://inessential.com">inessential.com</a> • <a href="http://ranchero.com">ranchero.com</a></p>
<p>© Copyright 2017 Brent Simmons<br />
Made in Seattle</p></div>
</body>
</html>