<html>
<head>
	<title>Brent Simmons: <%= title %></title>
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />
	<style type="text/css" media="all">@import "/styleSheet.css";</style>
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://inessential.com/xml/rss.xml" />
</head>
<body>
<div id="banner">	<h1><a href="/">Brent Simmons</a></h1>microblog</div>
<div id="content">

